header {
    background-color: rgb(106, 67, 179);
    height: 100px;
    margin-bottom: 30px;
}

nav {
    width: 960px;
    margin: auto;
}

header img {
    float: left;
    margin-top: 15px;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header ul li {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    width: 960px;
    margin: auto;
}

main ul {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

section {
    display: flex;
    justify-content: space-between;
}

/*scrollable container*/
p {
    height: 400px;
    width: 450px;
    overflow: scroll;
    line-height: 115%;
    margin-top: 12px;
}

button {
    transition: 350ms;
    shape-rendering: round;
    margin-top: 10px;
    color: rgb(32, 14, 70);
}

button:hover{
    background-color: green;
}

footer {
    background-color: rgb(46, 2, 241);
    height: 150px;
    margin-top: 30px;
}

h2 {
    font-weight: bold ;
}

body {
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
/* courtesy of https://cssgradient.io/gradient-backgrounds/*